@import "src/assets/styles/_var.scss";

.button {
  outline: none;
  border: none;
  padding: 6px 0;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: $white;
  display: block;
  width: 100%;
  max-width: 146px;

  a{
    display: block;
  }
}

.login{
  background-color: #511734;
}


.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}