.input{
    background-color: none;
    background: none;
    border: none;
    max-width: 35px;
    text-align: right;
}

.isCompleted{
    text-decoration: line-through;
     td div,input{
        color: #B53471 !important;
        font-style: italic;
    }
}