.title {
  margin-bottom: 10px;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  margin-top: 10px;
  flex-direction: column;

  span {
    font-size: 12px;
  }
}

